@font-face {
    font-family: merriweather, 'Times New Roman', Times, serif;
    src: url(font/Merriweather-Regular.ttf);
}

body {
    background-color: #1e1e1e;
    color: whitesmoke;
    font-family: merriweather;
    box-sizing: border-box;
}

#header{
    display: flex;
    margin-top: 1vh;
    margin-bottom: 2vh;
    gap: 1vh;
}

#gear {
    display: none;
}

#headerSettings {
    font-size: 2vh;
    width: 9vh;
    height: 9vh;
    background-color: rgba(103, 250, 186, 0.593);
    border-radius: 15px;
    text-align: center;
    align-content: center;
    color: whitesmoke;
    font-family: merriweather;
}

#headerSettings:hover {
    background-color: rgb(126, 225, 182);
    cursor: pointer;
}

.viewSelect {
    font-size: 2vh;
    width: 9vh;
    height: 9vh;
    background-color: rgba(103, 250, 186, 0.593);
    border-radius: 15px;
    text-align: center;
    align-content: center;
}

.viewDropDown {
    width: 9vh;
    border-radius: 15px;
    display: none;
    top: 100%;
    background-color: rgb(126, 225, 182);
    box-shadow: 0px 9px 10px black;
}

.viewSelect:hover .viewDropDown {
    display: block;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    cursor: pointer;
    padding-bottom: 0.1vh;
    padding-top: 0.1vh;
}

.viewSelect:hover {
    background-color: rgb(126, 225, 182);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.monthSelect {
    font-size: 2vh;
    width: 9vh;
    height: 9vh;
    background-color: rgba(103, 250, 186, 0.593);
    border-radius: 15px;
    text-align: center;
    align-content: center;
}

.monthDropDown {
    width: 9vh;
    border-radius: 15px;
    display: none;
    top: 100%;
    background-color: rgb(126, 225, 182);
    box-shadow: 0px 9px 10px black;
}

.monthSelect:hover .monthDropDown {
    display: block;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    cursor: pointer;
    padding-bottom: 0.1vh;
    padding-top: 0.1vh;
}

.monthSelect:hover {
    background-color: rgb(126, 225, 182);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.dayContainer {
    position: relative;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 15vh;
    margin-right: 15vh;
}

.day {
    width: 5em;
    height: 5em;
    border-radius: 2vh;
    background-color: rgb(103, 250, 186);
    display: flex;
    padding: 1vh;
    font-size: 3vh;
    color: rgb(30, 30, 30);
}