body {
    background-color: #1e1e1e;
    color: whitesmoke;
}

.header {
    text-align: center;
}

.header button{
    width: 5vh;
    height: 5vh;
    background-color: whitesmoke;
    border-radius: 0.5vh;
    border: none;
}

.header button img{
    width: 3vh;
    height: 3vh;
}

.weekcontainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2vh;
    margin-top: 4vh;
    margin-left: 15vh;
    margin-right: 15vh;
    margin-bottom: 0vh;
}

.weekcontainer .day{
    flex: 0 0 12%;
    width: 12vh;
    height: 0vh;
    border-radius: 2vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    font-size: 3.5vh;
    color: whitesmoke;
}

.dayContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2vh;
    margin-top: 2vh;
    margin-left: 15vh;
    margin-right: 15vh;
    margin-bottom: 4vh;
}

.day {
    flex: 0 0 12%;
    width: 12vh;
    height: 12vh;
    border-radius: 2vh;
    background-color: rgb(103, 250, 186);
    display: flex;
    padding: 1vh;
    font-size: 3vh;
    color: rgb(30, 30, 30);
}
